<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-book-heading" data-cy="BookCreateUpdateHeading" jhiTranslate="kutuphanemApp.book.home.createOrEditLabel">
        Create or edit a Book
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="kutuphanemApp.book.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="kutuphanemApp.book.numOfPage" for="field_numOfPage">Num Of Page</label>
          <input type="number" class="form-control" name="numOfPage" id="field_numOfPage" data-cy="numOfPage" formControlName="numOfPage" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="kutuphanemApp.book.cover" for="field_cover">Cover</label>
          <div>
            <img
              [src]="'data:' + editForm.get('coverContentType')!.value + ';base64,' + editForm.get('cover')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('cover')!.value"
              alt="book image"
            />
            <div *ngIf="editForm.get('cover')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('coverContentType')!.value }}, {{ byteSize(editForm.get('cover')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('cover', 'coverContentType', 'file_cover')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_cover"
              data-cy="cover"
              (change)="setFileData($event, 'cover', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="cover" id="field_cover" data-cy="cover" formControlName="cover" />
          <input
            type="hidden"
            class="form-control"
            name="coverContentType"
            id="field_coverContentType"
            formControlName="coverContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="kutuphanemApp.book.author" for="field_author">Author</label>
          <select class="form-control" id="field_author" data-cy="author" name="author" formControlName="author">
            <option *ngIf="!editForm.get('author')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="authorOption.id === editForm.get('author')!.value?.id ? editForm.get('author')!.value : authorOption"
              *ngFor="let authorOption of authorsSharedCollection; trackBy: trackAuthorById"
            >
              {{ authorOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['author'])!.invalid && (editForm.get(['author'])!.dirty || editForm.get(['author'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['author'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="kutuphanemApp.book.publisher" for="field_publisher">Publisher</label>
          <select class="form-control" id="field_publisher" data-cy="publisher" name="publisher" formControlName="publisher">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="publisherOption.id === editForm.get('publisher')!.value?.id ? editForm.get('publisher')!.value : publisherOption"
              *ngFor="let publisherOption of publishersSharedCollection; trackBy: trackPublisherById"
            >
              {{ publisherOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
