<ng-container [formGroup]="form">
  <div class="d-flex">
    <div class="flex-fill">
      <label>{{ formItem.label }}</label>

      <ng-container [ngSwitch]="formItem.type">
        <!-- Input Text -->
        <input
          *ngSwitchCase="'text'"
          type="text"
          class="form-control"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
          [placeholder]="formItem.placeholder"
        />

        <!-- Input Number -->
        <input
          *ngSwitchCase="'number'"
          type="number"
          class="form-control"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
          [placeholder]="formItem.placeholder"
        />

        <!-- Input Date -->
        <input
          *ngSwitchCase="'date'"
          type="date"
          class="form-control"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
          [placeholder]="formItem.placeholder"
        />

        <!-- Text Area-->
        <textarea
          *ngSwitchCase="'textarea'"
          class="form-control"
          rows="5"
          [formControlName]="formItem.id"
          [readOnly]="formItem.readOnly"
        ></textarea>

        <!--        &lt;!&ndash; Selections Retriever &ndash;&gt;-->
        <!--        <jhi-selections-retriever-->
        <!--          *ngSwitchCase="'selections'"-->
        <!--          [selectionType]="formItem.selectionType!"-->
        <!--          [formControlName]="formItem.id"-->
        <!--          [placeholder]="formItem.placeholder"-->
        <!--          [readOnly]="formItem.readOnly"-->
        <!--        ></jhi-selections-retriever>-->

        <!--        &lt;!&ndash; Multi Selections Retriever &ndash;&gt;-->
        <!--        <jhi-multi-selections-retriever-->
        <!--          *ngSwitchCase="'multi-selections'"-->
        <!--          [selectionType]="formItem.selectionType!"-->
        <!--          [formControlName]="formItem.id"-->
        <!--          [placeholder]="formItem.placeholder"-->
        <!--          [readOnly]="formItem.readOnly"-->
        <!--        ></jhi-multi-selections-retriever>-->

        <!--        &lt;!&ndash; Boolean Field &ndash;&gt;-->
        <!--        <jhi-boolean-field-->
        <!--          *ngSwitchCase="'booleanField'"-->
        <!--          [formControlName]="formItem.id"-->
        <!--          [readOnly]="formItem.readOnly"-->
        <!--          [placeholder]="formItem.placeholder"-->
        <!--          [fieldsValues]="formItem.fieldsValues"-->
        <!--        ></jhi-boolean-field>-->
      </ng-container>
    </div>
    <div *ngIf="formItem.multiple" class="d-flex align-items-end">
      <ng-content class="form-control"></ng-content>
    </div>
  </div>
</ng-container>
